/**
 * LernMoment's course theme for reveal.js.
 * This is based on Hakim El Hattab's white theme.
 *
 * By Jan Suchotzki, http://www.LernMoment.de
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(https://fonts.googleapis.com/css?family=Lato|Volkhov);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #00A8C6;

$mainColor: #F9F2E7;
$headingColor: #F9F2E7;

$mainFontSize: 38px;
$mainFont: 'Lato', sans-serif;
$headingFont: 'Volkhov', serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 500;
$linkColor: #FFCD00;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #F9F2E7;
	}
}

.reveal section img.logo {
    @extend img.plain;
    max-width: 15%;
    max-height: 15%;
    background-color: rgba(255, 255, 255, 0);
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------